@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
/* navbar  */
.navbar{
  background-color: rgba(0, 0, 0, .6) !important;
  padding: .5rem;
}
a{
  transition: .6s all !important;
}
a:hover{
  color: black !important;
}
.admin{
  margin-left: auto;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffff;
  padding: .5rem;
  cursor: pointer;
}
/* end navbar  */

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex : 3 60rem;
}
.sidebar {
  flex : 1 20rem;
}


/* filter  */

.filter {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  border-bottom: .2rem solid rgb(230, 221, 221);
}
.filter div {
  flex : 1;
  font-size: .9rem;
}

/* end filter  */



/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.products li {
  flex : 0 1 29rem;
  height: 34rem;
  padding: 1rem;
  margin: 1rem;
}
.product a .title {
  text-decoration: none;
  margin-top: .5rem;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  height: 100%;
  transition: .6s all;
}
.product:hover{
  box-shadow: 1px 1px 5px ;
}
.product img {
  width: 100%;
  max-width:30rem;
  max-height:24rem;
  transition: .6s all;
  object-fit:fill;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.product img:hover{
  filter: saturate(160%);
}
.products-price {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-price button {
  text-align: center;
}
.products-price p {
  font-size: 1.8rem;
}
.products-price p span{
  color: grey;
}
.title {
  font-size: 1rem;
  margin: .5rem;
}

/* end products  */



/* cart  */
.cart{
  margin-right: 1rem;
}
.cart-header{
  margin: 1rem;
  padding: 1rem;
  font-size: .9rem;
  border-bottom: .2rem solid rgb(230, 221, 221);
}
.cart-items li{
  width: 100%;
  list-style: none;
  margin-bottom: 1.5rem;
} 
.cart-items div {
  display: flex;
  margin: .5rem;
  justify-content: space-between;
} 
.cart-items img {
  width:3.5rem;
  height: 4rem;
  border-radius: 5px;
  transition: .6s all;
} 
.cart-items img:hover{
  width:6rem;
  height: 7rem;
} 

.total {
  width: 87%;
  margin: auto;
}
.total-cart{
  display: flex;
  justify-content: space-between;
}
.total-cart:first-child{
 margin-left: 1.2rem;
 font-size: 1.2rem;
}

/* end cart  */


/* form  */

.form-container {
  width: 80%;
  margin: auto;
  padding: .8rem;
  margin-top: 1.6rem;
  transition: .6s all;
  box-shadow: 1px 1px 5px rgb(194, 192, 192);
  border-radius: 5px;
}
.form-container li{
  list-style: none;
  padding: .5rem;
  font-size: .8rem;
}
.form-container input{
  width: 100%;
  padding: .5;
  border-radius: 5px;
  border: 1px solid rgb(194, 192, 192);
}

/* end form  */

/* modal  */

.modal-details{
  display: flex;
  justify-content: space-around;
  padding: .5rem;
}
.modal-details .btn-secondary{
  margin: .5rem;
}
.modal-details div{
  margin: 1rem;
  padding: .4rem;
  font-size: 1rem;
}
.modal-details img{
  height: 30rem;
}
.modal-price{
  display: flex;
  justify-content: space-between;
}
/* end modal  */


/* cart modal  */
.cart-modal{
  text-align: center;
  width: 40%;
  margin: auto;
}
.cart-modal ul {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
}
.cart-modal h3{
  color: rgb(31, 128, 31);
  margin-bottom: 3rem;
}
.cart-modal h4{
  margin-bottom: 2rem;
}
.cart-modal li{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: .8rem;
  justify-content: baseline;
}
.cart-modal p{
  font-size:.9rem ;
}

/* end cart modal  */

/* footer  */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.8rem;
  background-color: rgb(149, 143, 143);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
}


